{% extends 'totem/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md">
        <div class="card">
            <img
              class="card-img-top"
              src="index.html"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Aeropuerto</h5>
              <p class="card-text">
                <br />
                <br />
                Ventana de pago 
                <br>
                <br>
              </p>
              <a
                href="{% url 'totem/pagof' %}"
                class="btn btn-primary"
                >Seleccione aqui para finalizar proceso de compra</a
              >
              <br>
              <br>
              <a
              href="{% url 'totem/index' %}"
              class="btn btn-primary"
              >Volver al inicio
              </a>
            </div>
          </div>
    </div>
</div>
{% endblock content %}